<h1>Places</h1>

<p>
<a class = "btn btn-outline-success btn-lg" href="/places/new" role="button"> New Place </a>
</p>

<div class="list-group">
    <% for place in @places %>
    <a href="/places/<%= place["id"] %>" class="list-group-item list-group-item-action"> <%= place["name"] %> </a>
    <p>1</p>
    <% end %>
</div>



